/*Components*/
@import "components/_navagation";
@import "components/_images";
@import "components/_headers";
@import "components/_keyframes";

body {
  background: url("../img/bg/inner-shadow-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/*Layouts*/
@import "layouts/_header";
@import "layouts/_about";
@import "layouts/_skills";
@import "layouts/_projects";
@import "layouts/_contact";
@import "layouts/_footer";


/*Modules*/
@import "modules/_variables";



/*Vendors*/
@import "vendors/_normalize";
