#about {
  margin: 0 auto 200px auto;
  padding-top: 25px;
  width: 70%;

  .section-header {
    margin-left: 45px;

    h2 {
      transform: rotate(-5deg);
    }
  }

  #about-block {
    margin: 0 auto 0 220px;
    padding: $one-pad;
    width: 800px;
    font-size: 1.15em;
    font-family: $paragraph-font;
    background: $section-bg-color;
    border: $border-size solid $main-color;
    border-radius: $border-radius;
    box-shadow: $main-block-shadow;

    p {
      margin-left: 20px;
    }
  }
}
