#contact {
  margin: 200px auto;
  width: 70%;

  .section-header {
    margin-bottom: 45px;
    text-align: center;
  }

  .contact-nav-social{
    margin: auto;
    width: 700px;
    display: flex;
    justify-content: space-between;

    .social-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      transition: all 300ms ease-in-out;

      &:hover {
        transform: scale(.9) translateY(-15px);
      }

      &:hover i {
        transform: scale(1.1);
      }

      a {
        color: inherit;

        &:hover {
          animation: wobble 300ms;
        }
      }

      a:visited {
        color:inherit;
      }

      &:nth-child(1) {
        background: $facebook;
      }

      &:nth-child(2) {
        background: $linkedin;
      }

      &:nth-child(3) {
        color: #FFF;
        background: $github;
      }

      &:nth-child(4) {
        background: $codepen;
      }
    }
  }
}
