#contact {
  margin: 0 auto 400px auto;
  padding-top: 50px;
  width: 70%;
  position: relative;
  top: 300px;

  .section-header {
    margin-bottom: 45px;
    text-align: center;
  }


  .contact-nav-social{
    margin: auto;
    width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;

    .social-circle {
      margin: 0 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;


      &:hover {
        -webkit-transform: scale(.9) translateY(-15px);
                transform: scale(.9) translateY(-15px);
      }

      &:hover i {
        -webkit-transform: scale(1.1);
                transform: scale(1.1);
      }

      a {
        color: inherit;

        &:hover {
          -webkit-animation: wobble 300ms;
                  animation: wobble 300ms;
        }
      }

      a:visited {
        color:inherit;
      }

      &:nth-child(1) {
        background: $facebook;
      }

      &:nth-child(2) {
        background: $linkedin;
      }

      &:nth-child(3) {
        color: #FFF;
        background: $github;
      }

      &:nth-child(4) {
        background: $codepen;
      }
    }
  }



  .email {
    width: 100%;
    text-align: center;

    #hide-email {
      text-shadow: 2px 4px 6px #000;
      color: $main-color;
      text-decoration: none;
      font-size: $h1-size * 3;
      font-weight: bold;
      unicode-bidi: bidi-override;
      direction: rtl;
      -webkit-transition: 300ms all ease-in-out;
      transition: 300ms all ease-in-out;

      &:hover {
        text-shadow: 3px 4px 6px #dcdcdc;
        -webkit-animation: letter-spacing 300ms;
                animation: letter-spacing 300ms;
      }
    }
  }
}


@media (max-width: 1500px) {
  #contact {
    .section-header {
      #hide-email {
        font-size: $h1-size * 2.5;
      }
    }
  }
}

@media (max-width: 1300px) {
  #contact {
    .section-header {
      #hide-email {
        font-size: $h1-size * 2;
      }
    }
  }
}

@media (max-width: 1000px) {
  #contact {
    width: 100%;
    .section-header {
      #hide-email {
        font-size: $h1-size * 1.5;
      }
    }
    .contact-nav-social {
      width: 100%;
      .social-circle {
        width: 100px;
        height: 100px;
      }
    }
  }
}


@media (max-width: 600px) {
  #contact {
    .section-header {
      #hide-email {
        font-size: $h1-size;
      }
    }
    .contact-nav-social {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
    }
  }
}
