@import "../modules/_variables";
#intro {
  //Main intro section
  margin: 0;
  padding: 200px 0 0 0;
  height: 100vh;
  box-sizing: border-box;


  //Page indicator top left
  #page-indicator {
    position: fixed;
    top: 50px;
    left: -$half-pad;
    width: 220px;
    max-height: 65px;
    background: $section-bg-color;
    font-size: $h2-size;
    text-align: center;
    border: $border-size solid $main-color;
    overflow: hidden;

    h2 {
      position: relative;
      top: 0;
      margin: 0;
      color: $header-color;
      line-height: 65px;
      transition: 200ms top ease-in-out;
    }

    &:after {
      content: "";
      display: block;
      width: 10px;
      height: 75px;
      background: $main-color;
      position: absolute;
      top: -$border-size;
      right: -$border-size * 3;
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  //Center content - Face, Title, Blurb
  .main-block {
    position: relative;
    margin: auto;
    width: 800px;
    max-height: 300px;

    .section-header {
      position: relative;
      top: -450px;
      max-width: 340px;
      color: $header-color;
      font-size: $h1-size + 1;
      text-shadow: $header-text-shadow;

      h3 {
        margin: 0;
      }

      h3:first-of-type {
        text-align: right;
      }
    }

    .blurb {
      margin: auto;
      position: relative;
      top: -250px;
      left: 300px;
      padding: $one-pad;
      width: 400px;
      color: $font-color;
      background: $section-bg-color;
      border: $border-size solid $main-color;
      border-radius: $border-radius;
      box-shadow: $main-block-shadow;
    }
  }

  //Right Side Navagation
  #navigation {
    position: fixed;
    top: 0;
    right: 0;
    width: 150px;
    height: 100%;

    #nav-icon {
      position: absolute;
      top: 0;
      right:0;
      margin: 50px;
      width: 35px;
      height: 35px;
      cursor: pointer;
      z-index: 1;


      &:hover {
        animation: bounce 500ms linear once;
      }

      &:active {
        opacity: .5;
      }


      span {
        display: block;
        content: "";
        margin-bottom: $quarter-mar;
        width: 100%;
        height: 4px;
        background: $header-color;
        border-radius: $border-radius;
      }
    }

    .main-nav {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 100%;
      height: 100%;
      background: $section-bg-color;
      z-index: 2;

      transition: transform 500ms ease-in-out;
      transform: translateX(200px);

      .main-nav-ul {
        padding: 0;
        list-style: none;
        width: 100%;

        li {
          margin: 0 0 $one-mar 50px;
          width: 100%;

          &:hover a {
            border-bottom: $border-size solid $main-color;
          }

          a {
            text-decoration: none;
            color: #000;
            border-bottom: $border-size solid transparent;
            transition: border 500ms;

          }
        }
      }
    }
  }
}

.open {
  transform: translateX(0px)!important;
}


@keyframes bounce {
  0% {transform: scale(.9) translateY(1px);}
  50% {transform: scale(1.1) translateY(-1px);}
  100% {transform: scale(1.2);}
}

.shadow {
  color: $font-bg;
  transform: scale(1.1);
}
