@import "../modules/_variables";

#intro {
  padding-top: 50px;

  #page-indicator {
    position: fixed;
    top: 50px;
    left: -$half-pad;
    width: 220px;
    max-height: 65px;
    background: $section-bg-color;
    font-size: $h2-size;
    text-align: center;
    border: $border-size solid $main-color;
    overflow: hidden;

    h1 {
      position: relative;
      top: 0;
      margin: 0;
      color: $header-color;
      font-size: $h1-size - .2;
      font-family: $paragraph-font;
      line-height: 65px;
      -webkit-transition: 200ms top ease-in-out;
      transition: 200ms top ease-in-out;
    }
  }

  #intro-block {
    margin: auto;
    width: 700px;
    font-size: 1.1em;

    .section-header {
      position: relative;
      top: -500px;
      left: -100px;

      h1 {
        margin: 0;
        max-width: 360px;
      }

      h1:first-of-type {
        text-align: right;
      }
    }

    .blurb {
      position: relative;
      top: -300px;
      left: 450px;
      padding: $one-pad;
      width: 400px;
      color: $font-color;
      font-family: $paragraph-font;
      background: $section-bg-color;
      border: $border-size solid $main-color;
      border-radius: $border-radius;
      -webkit-box-shadow: $main-block-shadow;
              box-shadow: $main-block-shadow;
    }
  }
}


@media (max-width: 1450px) {
  #intro {

    #page-indicator{
      max-width: 180px;
      h1 {
        font-size: $h2-size - .3;
      }
    }

    #intro-block {

      #profile-picture {
        max-width: 350px;
        max-height: 350px;

        img {
          max-width: 350px;
          max-height: 350px;
        }
      }

      .section-header {
        top: -450px;
        left: -80px;
        font-size: 1.8em;

        &:nth-child(2) {
          text-align: center;
        }
      }

      .blurb {
        top: -280px;
        left: 430px;
        max-width: 350px;
        font-size: .9em;
      }
    }
  }
}



@media (max-width: 1240px) {
  #intro {

    #page-indicator {
      width: 150px;
      h1 {
        font-size: $h2-size - .5;
      }
    }
    #intro-block {
      .section-header {
        left: 0;
        top: -500px;
        h1 {
          padding-left: 5px;
          display: inline;
        }
      }
      .blurb {
        top: -100px;
        left: 155px;
      }
    }
  }
}


@media (max-width: 850px) {
  #intro {
    #page-indicator {
      display: none;
    }

    #intro-block {
      width: 100%;

      #profile-picture {
        position: relative;
        top: 50px;
      }
      .section-header {
        margin: 50px auto;
        width: 100%;
        h1 {
          max-width: 100%;
          display: block;
        }
        h1:first-of-type {
          text-align: center;
        }
      }

      .blurb {
        margin: -150px auto;
        position:static;
        width: 90%;
      }
    }

    .nav-icon {
      margin: 30px;
    }

    #navigation {
      width: 100px;

      .main-nav {
        .main-nav-ul {
          margin: 0;
          padding: 0;
          li {
            margin: 0;
            padding: 1em;
          }
        }
      }

    }
  }
}
