@import "../modules/_variables";

#projects {
  margin: 0 auto 200px auto;
  padding-top: 50px;
  position: relative;
  top: 300px;
  width: 75%;

  .section-header {
    text-align: center;
    margin-bottom: 45px;
  }

  .projects-block {
    margin: auto;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    .codepen-example {
      margin: 10px;
      width:320px;
      height: 265px;
      border: $border-size solid $main-color;
      border-radius: $border-radius;
      -webkit-box-shadow: $main-block-shadow;
              box-shadow: $main-block-shadow;
      -webkit-transition: 300ms all ease-in-out;
      transition: 300ms all ease-in-out;

      &:hover {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
        -webkit-box-shadow: $main-block-lifted-shadow;
                box-shadow: $main-block-lifted-shadow;
      }
    }
  }
}


@media (max-width: 1500px) {
  #projects {
    .projects-block {
      .codepen-example {
        width: 300px;
        //height:245px;
      }
    }
  }
}


@media (max-width: 1365px) {
  #projects {
    .projects-block {
      .codepen-example {
        width: 280px;
        //height: 225px;
      }
    }
  }
}


@media (max-width: 1300px) {
  #projects {
    .section-header {
      font-size: $h2-size + .7;
    }
    .projects-block {
      .codepen-example {
        width: 260px;
        //height: 205px;
      }
    }
  }
}


@media (max-width: 850px) {
  #projects {
    width: 100%;
    .section-header {
      font-size: $h2-size + .3;
    }
  }
}


@media (max-width: 600px) {
  #projects {
    .projects-block {
      .codepen-example {
        width:320px;
        //height: 265px;
      }
    }
  }
}
