#skills {
  margin: 0 auto 200px auto;
  padding-top: 50px;
  width: 70%;

  .section-header {
    margin-bottom: 45px;
    text-align: center;

    &:nth-child(3) {
      margin-top: 45px;
    }
  }

  .skills-block {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 700px;


    img {
      margin: 0 10px;
      max-width: 100px;
      max-height: 150px;
      transition: 300ms all ease-in-out;

      &:hover {
        animation: wobble 500ms linear;
        filter: drop-shadow(5px 6px 10px $font-bg);
      }
    }
  }
}
