/* =============================================== */
// ============= General Variables =============== */
//Font sizes
$h1-size: 2.4em;
$h2-size: 1.5em;
$h3-size: 1.4em;

$p-size: 1em;

//Font-family
$header-font: "Satisfy", cursive;
$paragraph-font: 'Josefin Slab', serif;

//Paddings
$one-pad: 1em;
$half-pad: .5em;
$quarter-pad: .25em;

//Margins
$one-mar: 1em;
$half-mar: .5em;
$quarter-mar: .25em;

//Border sizes
$border-size: 5px;

//Border Radius
$border-radius: 5px;

//Shadows
$header-text-shadow:2px 3px 3px #CAEBF2;
$font-text-shadow: 2px 3px 3px #A9A9A9;
$main-block-shadow: 10px 10px 20px 0 rgba(0, 0, 0, .5);
$main-block-lifted-shadow: 20px 20px 20px 0 rgba(0, 0, 0, .4);
$word-bg-shadow: 10px 10px 20px -15px #FF3B3F;
$underline-shadow: 2px 7px 0 -3px #A9A9A9;


/* =============================================== */
// ============= Specific Variables =============== */
//Whole page color scheme
$main-color: #FF3B3F;
$second-color: #000;
$third-color: #A9A9A9;
$section-bg-color: #EFEFEF;
$font-color: #000;
$header-color: #FF3B3F;
$font-bg: #CAEBF2;

//Icon colors
$facebook: #3b5998;
$linkedin: #007bb5;
$github: #000000;
$codepen: #FFFFFF;
