@import "../modules/_variables";

.section-header {
  font-size: $h1-size;
  font-family: $header-font;
  color: $header-color;
  text-shadow: $header-text-shadow;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: $h1-size;
  font-family: $header-font;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: $h2-size;
  font-family: $header-font;
  line-height: 90px;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: $h3-size;
  font-family: $header-font;
}

.word-bg {
  padding: $quarter-pad;
  background: $font-bg;
  border-radius: $border-radius;
  text-shadow: $font-text-shadow;
  box-shadow: $word-bg-shadow;
}

.underline {
  border-bottom: 5px solid $main-color;
  box-shadow: $underline-shadow;
}
