@-webkit-keyframes wobble {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  25% {-webkit-transform: rotate(10deg);transform: rotate(10deg);}
  50% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  75% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
  100% {-webkit-transform: rotate(deg);transform: rotate(deg);}
}


@keyframes wobble {
  0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  25% {-webkit-transform: rotate(10deg);transform: rotate(10deg);}
  50% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  75% {-webkit-transform: rotate(-10deg);transform: rotate(-10deg);}
  100% {-webkit-transform: rotate(deg);transform: rotate(deg);}
}


@-webkit-keyframes letter-spacing {
  0% {letter-spacing: 1px;}
  25% {letter-spacing: 2px;}
  50% {letter-spacing: 3px;}
  75% {letter-spacing: 2px;}
  100% {letter-spacing: 1px;}
}


@keyframes letter-spacing {
  0% {letter-spacing: 1px;}
  25% {letter-spacing: 2px;}
  50% {letter-spacing: 3px;}
  75% {letter-spacing: 2px;}
  100% {letter-spacing: 1px;}
}
