@import "../modules/_variables";

//Right Side Navagation
#navigation {
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  z-index: 1000;

  -webkit-transition: -webkit-transform 500ms ease-in-out;

  transition: -webkit-transform 500ms ease-in-out;

  transition: transform 500ms ease-in-out;

  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);

  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
    height: 100%;
    font-family: $paragraph-font;
    background: $section-bg-color;
    z-index: 2;

    .main-nav-ul {
      padding: 0;
      list-style: none;
      width: 100%;

      li {
        margin: 0 0 $one-mar 50px;
        width: 100%;

        &:hover a:before {
          width: 100%;
        }

        a {
          position: relative;
          text-decoration: none;
          font-size: $p-size + .4;
          color: #000;
          border-bottom: $border-size solid transparent;
          -webkit-transition: border 300ms;

          &:before {
            position: absolute;
            top:25px;
            left:0;
            content: "";
            width: 0%;
            border-bottom: 5px solid $main-color;
            transform-origin: left center;
            transition: all 300ms ease-in-out;
          }
        }
      }
    }
  }
}

.nav-icon {
  position: fixed;
  top: 0;
  right:0;
  margin: 35px;
  padding: 10px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1001;


  &:hover {
    -webkit-animation: wobble 300ms linear;
            animation: wobble 300ms linear;
  }

  &:active {
    opacity: .5;
  }


  .icon-bar {
    display: block;
    content: "";
    margin-bottom: $quarter-mar;
    width: 100%;
    height: 4px;
    background: $header-color;
    border-radius: $border-radius;
    -webkit-transition: 300ms all ease-in;
    transition: 300ms all ease-in;
  }
}

.open {
  -webkit-transform: translateX(0px) !important;
          transform: translateX(0px) !important;
}

.close-nav-icon-1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close-nav-icon-2 {
  opacity: 0;
}

.close-nav-icon-3 {
  margin-top: -1em;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
